
html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
}
header{
	position: fixed;
	background: #000;
	z-index: 1000;
	scroll-behavior: smooth;
	top: 0;
	left: 0;
	padding: 0 100px;
	width: 100%;
	margin: auto;
	box-sizing: border-box;
/* 	box-shadow: 0 16px 28px rgb(0 0 0), 0 10px 10px rgba(0,0,0,0.22); */
}
header .logo{
	height: 100px;
	color: #fd7d00;
	font-family: 'Changa One', cursive;
	letter-spacing: 1px;
	line-height: 80px;
	font-size: 34px;
	float: left;
	display: flex;
	align-items: center;
	font-weight: bold;
}
header .logo img{
	width: 80px;
	height: 68px;
}
header nav{
	float: right;
	font-family: 'Raleway', sans-serif;
}
header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
	display: flex;
}
header nav ul li a{
	list-style: none;
	height: 100px;
	font-size: 20px;
	display: inline-block;
	position: relative;
	line-height: 100px;
	padding: 0 15px;
	scroll-behavior: smooth;
	color: #fff;
	z-index: 1000;
	text-decoration: none;
	display: block;
	transition: .5s;

}
header nav ul li a:hover{
	display: inline-block;
	color: #fd7d00;
}
header nav ul li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fd7d00;
  color: #fd7d00;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header nav ul li a:hover:after { 
  width: 100%; 
  left: 0; 
  text-decoration: none;
  color: #fd7d00;
}
.menu-toggle{
	color: #fd7d00;
	float: right;
	line-height: 100px;
	font-size: 25px;
	cursor: pointer;
	display: none;
	color: #fff;
}
.onpage{
	color: #fd7d00;
}
@media (max-width: 1000px){
	header{
		padding: 0 0;
	}
}
@media (max-width: 900px)
{
	header{
		padding: 0 30px;
		background-color: #000;
	}
	.menu-toggle{
		display: block;
	}
	.menu-toggle:hover{
		color: #fd7d00;
	}header nav ul li a{
		display: inline-block;
	}
	header nav ul li a:hover{
		color: #fd7d00;
	}
	header nav{
		position: absolute;
		width: 100%;
		height: 420px;
		/*height: calc(100vh - 50px);*/
		background-color: #000;
		left: -509%;
		top: 100px;
		transition: 0.5s;
	}
	header nav.active{ 
 	 	text-decoration: none;
  		left: 0px;
	}
	header nav ul{
		display: block;
		text-align: center;
		z-index: 200;	
	}
}
.head{
	background: black;
	margin-top: 60px;
	text-align: center;
	padding: 100px 10px;
	margin-bottom: 80px;
}
.head img{
	width: 500px;
/* 	position: relative;
	top: 60px; */
}
@media(max-width: 520px){
	.head img{
		width: 300px;
	}
}
.about-section-2{
	margin-bottom: 80px;
}


.about-section-2 .section-2 .text p{
	 line-height: 35px;
/*  	 font-weight: bold; */
    	 font-family: 'Raleway', sans-serif;
    	 text-align: justify;
	 letter-spacing: 1px;
}
.about-section-2 .section-2 {
    /* width: 80%; */
    margin: 15px 30px;
    display: flex;
    padding: 30px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 30px rgb(0 0 0 / 15%);
    flex-wrap: wrap;
    justify-content: space-around;
}
			.head-2{
/* 				width: 100%; */
				text-align: center;
				font-size: 35px;
				padding-bottom:5px;
				font-weight: 100;
				letter-spacing: 2px;
				margin: 50px 0 15px;
				color: #fd7d00;
				text-transform: uppercase;
				font-family: 'Changa One', cursive;
			}
/* 			.about-section-2 .section-2{
				width: 80%;
				margin: auto;
				display: flex;
				padding: 20px;
				box-sizing: border-box;
				box-shadow: 0px 6px 28px #00000069, 0px -20px 19px 16px #00000012;

				flex-wrap: wrap;
				justify-content: space-around;
			} */
			.about-section-2 .section-2 img{
				width: 350px;
			}
			.about-section-2 .section-2 .text {
				width: 45%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				font-family: 'Raleway', sans-serif;
			}
			.about-section-2 .section-2 .text p{
				line-height: 35px;
/*     				font-weight: bold; */
    				font-family: 'Raleway', sans-serif;
    				text-align: justify;
				letter-spacing: 1px;
			}
			.head-3{
				color: #fd7d00;
				font-family: 'Changa One', cursive;.
				width: 100%;
				text-align: center;
				font-size: 28px;
				font-weight: 100;
				letter-spacing: 2px;
			}
/* 			@media(max-width: 1000px){
/* 				.about-section-2 .section-2{
					width: 95%;
				} */
/* 			} */ 
			@media (max-width: 850px){
/* 				.about-section-2 .section-2 img {
				    width: 450px;
				} */
				.about-section-2 .section-2 .text{
					width: 100%;
				}
			}
@media(max-width: 740px){
	.about-section-2 .section-2{
		padding: 30px 35px;
	}
	.about-section-2 .section-2 .text {
		width: 100%;
	}
}
@media(max-width: 600px){
	.about-section-2 .section-2 img{
		width: 350px;
	}
}
@media(max-width: 500px){
	.about-section-2 .section-2 img{
		width: 280px;
	}
	.head-2{
		margin: 50px 10px 15px;  
	}
}
			@media(max-width: 450px){
				.head-2{
					font-size: 30px
				}
				.head-3{
					font-size: 25px;
				}
			}
hr{
	width: 35%;
	border: 1px solid #fd7d00;
	border-radius: 100%;
}
.about-section-3{
	position: relative;
/* 	top: 100px; */
}
.sec5-box{
	width: 400px;
	margin: auto;
	padding: 10px;
	position: relative;
	height: 235px;
	margin-top: 100px;
	margin-bottom: 50px;
	box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}
.sec5-icon{
	width: 100px;
	position: absolute;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 6px 28px #00000069, 0px -20px 19px 16px #00000012;
	border-radius: 50%;
	top: -60px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 0 20px rgb(0 0 0/50%);
	background-color: #fff;
}
.sec5-icon img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.sec5-box h2{
	position: relative;
	top: 100px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}
.sec5-box p{
	position: relative;
	top: 70px;
	line-height: 25px;
	letter-spacing: 1px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
.sec5-box .name{
	position: relative;
	margin-right: 15px;
	letter-spacing: 1px;
	top: 70px;
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #fd7d00;
}
.ab-sec-3{
	width: 80%;
	display: flex;
	flex-wrap: wrap-reverse;
	margin: 50px auto 90px;
	justify-content: space-around;
}
.ab-sec-3 img{
	width: 330px;
}
.slide-caro{
	width: 45%;
	display: flex;
	justify-content: space-around;
}
@media(max-width: 1155px){
	.sec5-box {
		width: 300px;
	}
}
@media(max-width: 950px){
/* 	.ab-sec-3 img{
		width: 80%;
	} */
	.sec5-box{
		width:400px;
	}
	.slide-caro{
		width: 95%;
	}
}

@media(max-width: 500px){
	.sec5-box{
		width:300px;
	}
	.ab-sec-3 img {
    		width: 280px;
	}
}
@media(max-width:480px){
	.sec5-box{
		width:250px;
	}
}
@media(max-width: 425px){
/* 	.sec5-box{
		width: 190px;
	} */
/* 	.sec5-icon{
		left: 55px;
	} */
}
@media(max-width: 380px){
	.sec5-box{
		width: 200px;
	}
	.sec5-box p{
		top: 30px;
	}
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fd7d00;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  opacity: .8;
  transition: .5s;
}

#myBtn:hover {
  background-color: #a50e0e;
}
footer{
	/*height: 300px;*/
	position: relative;
	padding: 50px;
	top: 100px;
	background-color: #000;
}
			.footer-sec{
	/*width: 90%;*/
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.foot-logo{
	display: flex;
	align-items: center;
}
.foot-logo img{
	width: 250px;
	height: auto;
/* 	height: 130px;/* */
/* 	padding-top: 60px;
	font-size: 50px; */
	color: #fd7d00;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	justify-content: center;
}
.foot-cont-1{
	width: 20%;
	padding: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.foot-cont-2{
	width: 30%;
	padding: 20px;
	text-align: center;
	display: flex;
	line-height: 25px;
	color: #fd7d00;
	padding: 20px 20px 0 20px;
	letter-spacing: 1px;
	align-items: center;
	flex-wrap: wrap;
	font-family: 'Raleway', sans-serif;
}
.foot-cont-2 div{
	flex-basis: 100%;
	margin-bottom: 25px;
}
.foot-cont-1 a{
	text-decoration: none;
	color: #fd7e02;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
}
.foot-cont-1 a:hover{
	color: #eac8a6;
}
.foot-cont-3{
	width: 20%;
	padding: 20px;
	color: #fd7d00;
	text-align: center;
	display: flex;
	padding: 15px 20px 20px 20px;
	align-items: center;
	flex-wrap: wrap;
	font-family: 'Raleway', sans-serif;
	justify-content: center;
	letter-spacing: 1px;
	line-height: 25px
}
.foot-cont-3 a{
	text-decoration: none;
	color: #fd7d00;
}
@media(max-width: 960px){
	footer{
		padding: 0px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media(max-width: 800px){
	.footer-sec{
		flex-wrap: wrap;
	}
	.foot-logo{
		display: flex;
		justify-content: center;
	}
	.foot-logo img{
		width: 80%;
		margin: auto;
		height: auto;
	}
	.foot-cont-1{
		width: 100%;
	}
	.foot-cont-2{width: 100%;}
	font-cont-2 div{margin-bottom:25px;}
	.foot-cont-3{width: 100%;}
}
.Copyrights{
/* 	width: 100%; */
	text-align: center;
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 27px;
	letter-spacing: 1px;
	border-top: 1px solid #ffffff73;
	font-family: 'Raleway', sans-serif;
}
.Copyrights a{
	text-decoration: none;
	color: #fd7d00;
	font-size: 16px;
}
.Copyrights a:hover{
	text-decoration: underline;
}
@media(max-width: 512px){
	.copyrights{
		font-size: 13px;
	}
	.copyrights a{
		font-size: 13px;
	}
}
